<div>
    <div class="app-title text-center">
        <span>Do.me</span>
    </div>
    <div class="action-container flex flex-col text-center">
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-8/12 m-auto" >
            Create an account
        </a>
        <span>Already have an account?</span>
        <span>Tap here to <a class="underline">sign in</a>!</span>
    </div>
</div>