<%= render partial: "shared/header", locals: {title: "Settings"} %>
<div>
<%=link_to "LOGOUT", destroy_user_session_path, method: "delete"%>
<br><br><br><br><br>
HEllo
</div>
<%= render partial: "shared/footer" %>