<%= render partial: "shared/header", locals: {title: "Settings"} %>
<div class="flex flex-col grow p-4">
    <span class="font-semibold">Account</span>
    <div class="p-4 flex flex-col">
        <span>Profile</span>
        <%=link_to "LOGOUT", destroy_user_session_path, method: "delete"%>
    </div>

</div>
<%= render partial: "shared/footer", locals: {tab: "settings"} %>