<div class="flex justify-around text-center bg-white shadow-inner p-4 bottom-0 sticky w-full md:text-2xl md:p-5">
    <a class="flex flex-col <%= tab=="tasks" ? "text-sky-500" : ""%>" href=<%= categories_path%>>
        <i class="fas fa-check-circle text-2xl"></i>
        <span class="font-semibold">Tasks</span>
    </a>
    <a class="flex flex-col <%= tab=="settings" ? "text-sky-500" : ""%>" href=<%= user_path %>>
        <i class="fas fa-cog text-2xl"></i>
        <span class="font-semibold">Settings</span>
    </a>
</div>