<div class="flex justify-around">
    <a class="flex flex-col">
        <i class="fas fa-check-circle"></i>
        <span>Tasks</span>
    </a>
    <a class="flex flex-col">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
    </a>
</div>