<div class="flex justify-around text-center bg-white shadow-inner p-4">
    <a class="flex flex-col">
        <i class="fas fa-check-circle text-2xl"></i>
        <span class="font-semibold">Tasks</span>
    </a>
    <a class="flex flex-col">
        <i class="fas fa-cog text-2xl"></i>
        <span class="font-semibold">Settings</span>
    </a>
</div>