<div class="flex justify-around text-center">
    <a class="flex flex-col">
        <i class="fas fa-check-circle"></i>
        <span class="font-semibold">Tasks</span>
    </a>
    <a class="flex flex-col">
        <i class="fas fa-cog"></i>
        <span class="font-semibold">Settings</span>
    </a>
</div>