<%= render partial: "shared/header", locals: {title: "Add category"} %>

<div class="flex flex-col grow p-4">
  <%= form_with scope: :category, class: "contents", url: "/users/#{current_user.id}/categories" do |form| %>

  <% end %>
</div>

<%= render partial: "shared/footer", locals: {tab: "tasks"} %>
