<%= render partial: "shared/header", locals: {title: @category.name} %>
<div class="flex flex-col grow p-4">
    <div class="categories-container flex flex-wrap justify-around">
    
    </div>
</div>
<%= render partial: "shared/footer", locals: {tab: "tasks"} %>